<% if logged_task.image %>
  <% style = "background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(" + logged_task.image.url(:medium) + ") no-repeat center/cover " %>
<% else %>
  <% style = "background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )" %>
<% end %>


<%= link_to logged_task , class: "list-group-item logged-task-individual", style: style  do %>
  <h4><%= logged_task.task.title %> <small>on <%= logged_task.task_date.to_formatted_s(:short_date) %></small></h4>
  <p><%= logged_task.notes %></p>
  <% if logged_task.comments.count > 0 %>
    <footer><i class="fa fa-comments"></i> <%= logged_task.comments.count %></footer>
  <% end %>
<% end %>
