<div class="row">
  <div class="col-lg-3 col-md-2">
  </div>
  <div class="col-lg-6 col-md-8">
    <h1>Activity Stream</h1>
    <% @logged_tasks.each do |t| %>
      <%= link_to t , class: "list-group-item" do %>
        <h4><%= t.task.user.name %> logged a task to <%= t.task.title %> <small>on <%= t.task_date.to_formatted_s(:short_date) %></small></h4>
        <p><%= t.notes %></p>
        <% if t.comments.count > 0 %>
          <footer><i class="fa fa-comments"></i> <%= t.comments.count %></footer>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-2">
  </div>
</div>
