<h1>Log new <%= @parent_task.title %> task!</h1>

<%= form_for @logged_task do |f| %>
  <%= f.hidden_field :task_id, :value => @logged_task.task_id %>
  <p>
    <%= f.label :notes %>:
    <%= f.text_field :notes %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
