<h1>Log new <%= @parent_task.title %> task!</h1>

<%= simple_form_for @logged_task do |f| %>
  <%= f.hidden_field :task_id, :value => @logged_task.task_id %>

  <%= f.input :notes %>

  <%= f.input :task_date, :as => :date_picker, :label => 'The date you did this task, DD/MM/YYYY' %>

  <%= f.button :submit %>
<% end %>
