<div class="row">
  <div class="col-md-7">
    <h1><%= link_to @logged_task.task.title, @logged_task.task %> <small>Logged Task</small></h1>
    <%= @logged_task.notes %>
  </div>

  <div class="col-md-5">
    <h3>Comments</h3>
    <% @logged_task.comments.each do |c| %>
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-comment"></i> <%= c.user.name %> said <small style="position:absolute; right: 25px;"><%= time_ago_in_words(c.created_at) %> ago</small></div>
        <div class="panel-body">
          <%= c.copy %>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">Add Comment</div>
      <div class="panel-body">
      <%= form_for @logged_task_comment do |f| %>
        <%= f.hidden_field :logged_task_id, :value => @logged_task.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <div class="input-group">
          <%= f.text_field :copy, class: "form-control" %>
          <span class="input-group-btn">
            <%= f.submit "Comment", class: "btn btn-default" %>
          </span>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
