<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Getting Moved</a> -->
      <% if current_user %>
        <%= link_to "The Time Tracker", current_user, class: "navbar-brand fancy-font" %>
      <% else %>
        <%= link_to "The Time Tracker", root_path , class: "navbar-brand fancy-font" %>
      <% end %>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-bar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Activity Stream" , logged_tasks_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to current_user.found_name , :users %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-sliders hidden-xs"></i>
            <span class="visible-xs">Settings</span>
            <span class="caret hidden-xs"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">My Activities</li>
            <% if current_user.tasks.length > 0 %>
              <% current_user.tasks.each do |t| %>
                <li><%= link_to t.title, t %></li>
              <% end %>
            <% else %>
              <li class="dropdown-header">You don't have any activities.</li>
            <% end %>

            <li class="divider"></li>
            <li><%= link_to "New Activity", new_task_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out" , destroy_user_session_path, :method=>:delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Sign In" , new_user_session_path %></li>
        <% end %>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div>
</nav>
