<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Move" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Move" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= javascript_include_tag 'application', 'bootstrap', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <main role="main" class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
