<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Move" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Move" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Rock+Salt|Oswald', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <main role="main" class="container <%= content_for?(:css_class) ? yield(:css_class) : "" %>">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
