<h1>New Task!</h1>

<% if current_user %>

<%= form_for @task do |f| %>
  <p>
    <%= f.label :title %>:
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<% else %>

<h3>You need to sign in!</h3>
<p><%= link_to :Signin , :signin %></p>

<% end %>
