<% provide(:title, @task.title) %>
<% provide(:css_class, "task show-task") %>


<div class="row">
  <div class="col-md-8 col-sm-7">
    <h1>Logged Tasks</h1>
    <div class="list-group">
      <% @task.logged_tasks.take(10).each do |t| %>
        <%= render partial: "logged_tasks/logged_task_individual", locals: {logged_task: t} %>
      <% end %>
    </div>
    <% if @task.user == current_user %>
      <%= link_to "Log", new_logged_task_path(:task_id=> @task.id), class: 'btn btn-success' %>
    <% end %>
  </div>
  <div class="col-md-4 col-sm-5 panel">
    <h1><%= @task.title %><small> by <%= link_to @task.user.found_name, @task.user %></small></h1>
    <p>Logged Tasks: <%= @task.logged_tasks.count %></p>
    <% if @task.logged_tasks.first %>
      <%= link_to @task.logged_tasks.first do %>
        Most recent task was <%= time_ago_in_words(@task.logged_tasks.first.task_date) %> ago
      <% end %>
      <br>
      <%= link_to @task.logged_tasks.last do %>
        First logged task was on <%= @task.logged_tasks.last.task_date.to_formatted_s(:short_date) %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- http://stackoverflow.com/questions/11835471/managing-url-parameters-in-rails -->
<!-- <a href="/logged_tasks/new/?task_id=<%= @task.id %>">Log new task</a> -->
