<% provide(:title, @user.name) %>

<!-- First Row! -->
<div class="row">
  <div class="col-md-3">
    <h1><i class="fa fa-cogs"></i> Activities</h1>
    <div class="list-group">
      <% @tasks.each do |t| %>
        <div class='list-group-item'>
          <h4 class="list-item-header"><%= t.title %></h4>
          <p>Last Logged <%= t.time_since_last_logged %>
          <div class="btn-group" role="group">
            <%= link_to "View", t, class: 'btn btn-default btn-xs' %>

            <% if @is_current_user %>
              <%= link_to "Log", new_logged_task_path(:task_id=> t.id), class: 'btn btn-default btn-xs' %>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
    <% if @is_current_user %>
      <%= link_to :new_task , class: 'btn btn-success' do %>
        <i class="fa fa-check"></i> New Activity
      <% end %>
    <% end %>
  </div>

  <div class="col-md-5">
    <h1><i class="fa fa-history"></i> Stream</h1>

    <div class="list-group">
      <% @user.tasks_logged.each do |t| %>
        <%= render partial: "logged_tasks/logged_task_individual", locals: {logged_task: t} %>
      <% end %>
      <% if @user.tasks_logged.count == 0 && current_user == @user %>
        <div class="list-group-item">
          <p>There's nothing in your stream. Try logging a task or following a friend!</p>
        </div>

      <% end %>
    </div>
  </div>

  <div class="col-md-4 panel">
    <h1><i class="fa fa-user"></i> <%= @user.name %></h1>

    <% if @is_current_user %>
      <div class="btn-group" role="group">
        <%= link_to "Update My Account", edit_user_path, class: "btn btn-default btn-xs" %>
        <a class="btn btn-default btn-xs">Other Thing</a>
        <a class="btn btn-default btn-xs">Things</a>
      </div>
    <% end %>

    <% if @can_have_relationship %>
      <% if @relationship != nil %>
        <%= link_to "Unfollow " + @user.name, @relationship, :method => :delete, class: 'btn btn-danger btn-small' %>
      <% else %>
        <%= link_to "Follow " + @user.name, new_user_relationship_path(:followed_id=> @user.id), class: 'btn btn-success btn-small' %>
      <% end %>
    <% end %>

    <h3>Stats</h3>
    <p>Member Since: <%= @user.created_at.to_formatted_s(:month_and_year) %></p>
    <p>Tasks Logged: <%= @user.tasks_logged.count %></p>

    <h3>Friends</h3>
    <div class="list-group">
    <% @user.user_relationships.each do |f| %>
      <%= link_to f.followed_user.name, f.followed_user, :class => "list-group-item" %>
    <% end %>
    </div>
  </div>
</div>

<!-- Second Row! -->
<div class="row">
  <div class="col-md-6">
    <h1>Month by Month</h1>
    <%= line_chart @month_by_month %>
  </div>

  <div class="col-md-6">
    <h1>Day by Day</h1>
  </div>
</div>
