<% provide(:title, @user.name) %>

<div class="row">
  <div class="col-md-3">
    <h1><i class="fa fa-cogs"></i> Activities</h1>
    <div class="list-group">
      <% @tasks.each do |t| %>
        <%= link_to t.title , t , class: "list-group-item" %>
      <% end %>
    </div>
    <% if @user == current_user %>
      <%= link_to :new_task , class: 'btn btn-success' do %>
        <i class="fa fa-check"></i> New Activity
      <% end %>
    <% end %>
  </div>

  <div class="col-md-5">
    <h1><i class="fa fa-history"></i> Stream</h1>

    <div class="list-group">
      <% @user.tasks_logged.each do |t| %>
        <%= render partial: "logged_tasks/logged_task_individual", locals: {logged_task: t} %>
      <% end %>
    </div>
  </div>

  <div class="col-md-4 panel">
    <h1><i class="fa fa-user"></i> <%= @user.name %></h1>
    <p>Member Since: <%= @user.created_at.to_formatted_s(:month_and_year) %></p>
    <p>Tasks Logged: <%= @user.tasks_logged.count %></p>
  </div>
</div>
